# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

.idea/
../models/

# Terraform cache and provider plugins
**/.terraform/
**/.terraform.lock.hcl
**/.terraform.tfstate
**/.terraform.tfstate.backup
**/terraform.tfstate
**/terraform.tfstate.backup

**/temp
**/builds
